<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--adding CSS into Html-->
    <style>
 body {
     text-align: center;
     background-color: black;
 }
 </style>
</head>

<!--HTML main content(body)-->
<body>
    <div style="float:right; padding: 05px;  ">
        <form action="/logout/" method="POST">
            {% csrf_token %}
             <input type="submit" class="btn btn-default" value="Logout">
        </form>
    </div>

    <div style="float:left; padding: 05px;  ">
    <form method="post" action="/post/">

        {% csrf_token %}
        <input type="submit" class="btn-default btn" value="Create Post">


    </form>
    </div>

    {% for post in posts %}

    <h3><font color="white"> Posted by: {{ post.user.username }}</font> </h3>
    <p><font color="white">[{{ post.created_on }}]</font></p>
        <img style="display:inline-block; width:350px; height:300px;"
             src="{{ post.image_url }}" /><br>
    <span  style="display:inline-block;"><font color="white"> {{ post.caption }}</font></span><br/><br/>
        <div style="display:inline-block">
            <font color="white">    {{ post.like_count }} likes this</font>
        </div>
        <div style="display:inline-block">
            <form method="POST" action="/like/">
              {% csrf_token %}
              <input type="hidden" name="post" value="{{ post.id }}" />
                {% if post.has_liked %}
                <input type="submit" class="btn btn-default" value="Unlike">
                {% else %}
                <input type="submit" class="btn btn-default" value="Like">
                {% endif %}
            </form>
        </div>

        <div>
            <form method="POST" action="/comment/">
                {% csrf_token %}
                <input type="hidden" name="post" value="{{ post.id }}" />
                <input type="text" name="comment_text" id="comment_text" placeholder="Make a comment.." value="{{ comment_text }}">
                <font color="white">{{ comment_text }}</font>
                <input type="submit" class="btn-default btn" value="Comment">
            </form>
        </div>


        <div>
            {% for comment in post.comments %}
            <font color="white"> <p><b>{{ comment.user.username }} [{{ comment.created_on }}]:</b> {{ comment.comment_text }}</p></font>
                   <form method="POST" action="/upvote/">
              {% csrf_token %}

              <input type="hidden" name="id" value="{{ comment.id }}">

              <input type="submit" class="btn btn-default" value="Upvote">
                       <div class="container">

    <form action="/searchfilter/" method="POST">
    {% csrf_token %}
    <input type="text" name="searchquery" class='' placeholder="Search by name">
    <input type="submit" class="btn btn-default" value="Search">

</form>
</div>

                   </form><span><font color="white">Upvotes: {{comment.upvote_num}}</font></span>

            {% endfor %}
        </div>

    {% endfor %}
</body>
</html>



