<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success Page</title>

    <!--adding CSS into Html-->

    <style>
        body{
            background-color: black;
           background-size: cover;
           background-repeat: no-repeat;
           -webkit-background-size: cover;
            text-align: center;
            font-family: Cambria;
            padding: 250px;
       }
    </style>
</head>

<!--HTML main content(body)-->
<body>

<h1><font color="white">Successfully signed up! Please continue to login!</font></h1><br>
    <form action="/login/" method="get">
        <input type="submit" class="btn btn-default" value="Login">

</body>
</html>